.container-fluid {
    padding: 30px;
    padding-top: 0px;
}
.form-control {
    font-size: 9pt;
}
.nxtbutton {
    width: 90px;
}
.wrappermargin{
  margin: 20px;
}
.surveytable td{
    width: 90px;
}
.bottom-buffer {
    margin-bottom:50px;
}
.surveytable td:first-child{
    border-right: 1pt solid #e0e0e0;
    border-collapse: collapse;
    padding: 1pt;
    width: 1px;
    white-space: nowrap;
}
.surveytable td:nth-child(2) {
    padding-left: 10px;
}
.surveytable tr{
}
.redrow {
  background-color: #f9d0d0 !important;
}
#email {
    max-width: 400px;
}
#time-notice {
    font-size: 13pt;
    background-color: azure;
}
#best-shot {
    padding-top: 0px;
    padding-bottom: 13px;
    font-size: 13pt;
    background-color: azure;
}
#during-task {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: ivory;
}
#scroll-area {
    padding: 20px;
    padding-top: 0px;
    background: beige;
    border: solid black;
    border-width: thin;
}
#task-description {
    /*height: 200px;*/
    height: 100%;
}
#task-output {
    /*height: 200px;*/
    height: 100%;
}
#sample-area {
    /*height: 400px;*/
    height: 100%;
    white-space: pre-wrap;
}
.hidetimerdiv {
  margin-top: 20px;
}
.display-area {
    min-width: 100%;
    border: solid black;
    border-width: thin;
    background-color: white;
    height: 100%;
    /*overflow-y: scroll;*/
}
.code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10pt;
    background-color: white;
    border: none;
}
.codeSample {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 9pt;
    background-color: white;
    white-space: pre-wrap;
}
pre {
    background-color:white;
}
#entry-area {
    overflow-y: scroll;
    min-width: 100%;
    height: 400px;
    font-family: "Lucida Console", Monaco, monospace;
    white-space: pre;
    tab-size: 4;
}
.error {
    color: #FF0000;
}
.comment {
    font-size: 9pt;
    font-style: italic;
}
.inline-label {
    width: 250px;
}
.inline-label-sm {
    min-width: 45%;
}
.input-sm {
    max-width: 50%;
    text-align: right;
}
.input-md {
    max-width: 250px;
}
.left-pad {
    padding-left: 30px;
}
.col-pad {
    padding-left: 15px;
    padding-right: 15px;
}
.no-pad {
    padding-left: 0px;
    padding-right: 0px;
}
.course-credit {
    background-color: azure;
    padding: 10px;
    border: black;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
}

.fadequick{
    opacity:0;
    -webkit-transition:opacity .05s linear;
    -o-transition:opacity .05s linear;
    transition:opacity .05s linear
}

.info{
  z-index: 100;
  position: fixed;
  right: 2%; 
  border: 1px solid black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  top: 1%;
}

.yellowbackground {
  background-color: #ffffb0;
}

.redbackground {
  background-color: #FFCAC7;
}

.greenbackground {
  background-color: #a2cea2;
}
