
<p>The following programming code examples will be used as a guide in this experiment.</p>

<p>This programming language is case sensitive so 'Cat' and 'cat' are not the same.</p>

<p>Here is a code example of a method called 'min' that finds the minimum value of the 'myList' table and assigns the minimum value to 'YourAnswerIs'. For this experiment you only need to write the methods, the assignment of the value has been written in the tasks for you.</p> 

<p><span class='code'>YourAnswerIs=min(myList)</span></p>

<p>Other similar methods used in this experiment:
The mean method finds the mean of all row elements of a single column variable.
The sd method finds the standard deviation of all row elements of a single column variable.
The sum method finds the sum of all row elements of a single column variable</p>

<h3>Instructions helpful for Tasks 1-6</h3>
<p>The tilde symbol(~) is used to represent a relationship between column variables.  The format is 'dependent variable ~ independent variable.  It is also acceptable to use the tilde when no dependent variable is indicated. Here are some code examples that show the use of the tilde. The first code is an example that uses the method 'min', the table 'soccerLeague', and the column variable 'goals'. The second is an example that plots the relationship of the independent variable 'player' and the dependent variable 'goals' from the table 'soccerLeague'.</p>

<p><span class='code'>min(~goals, data=soccerLeague)</span></p>

<p><span class='code'>bwplot(goals~player, data=soccerLeague)</span></p>

<p>The aggregate() method performs a function on all the row elements of a column variable from a table. Here is an example that uses 'aggregate' method on the table 'mtcars' using the columns 'mpg' and 'cyl' and the function used is 'var'.</p>

<p><span class='code'>mpgVariance<-aggregate(mpg~cyl,mtcars,var)</span></p>

<h3>Instructions helpful for Tasks 7-8</h3>
<p>Some simple task needed for this experiment are creating subtables and creating new column variables. To access the column variables of a table the symbol “$” is used. The example below references the column 'eyecolor' in the table 'males'.</p>

<p><span class='code'>males$eyecolor</span></p>

<p>Here is an example that creates a subtable from the table 'dogs' whose column value 'weight' is less than 10.</p>

<p><span class='code'>dogs[dogs$weight<10,]</span></p>

<p>Here is an example that creates a new column variable called 'size' in the table 'dogs' where the value 'Big' is assigned if the column variable weight is greater than 50 and the value 'Small' is assigned if the column variable weight is less than or equal to 50. NOTE the use of single quotes for a string.</p>

<p><span class='code'>dogs$size[dogs$weight>50]<-'Big'</span>
<span class='code'>dogs$size[dogs$weight<=50]<-'Small'</span></p>

<h3>Instructions helpful for Tasks 9-10</h3>
<p>The transform() method adds a new column to a table using the math formula given to it. Here is an example that multiplies each row value from the column variables 'length' and 'width' in the table 'rectangle' and puts the result in a column variable 'area'.</p>

<span class='code'>transform(rectangle, area = rectangle$length*rectangle$width)</span>
