
<p>The following programming code examples will be used as a guide in this experiment.</p>

<p>This programming language is case sensitive so 'Cat' and 'cat' are not the same.</p>

<p>Here is a code example of a method called 'min' that finds the minimum value of the 'myList' table and assigns the minimum value to 'YourAnswerIs'. In the following experiment you only need to write the methods, the assignment has been written in the tasks for you.</p>

<p><span class='code'>YourAnswerIs=min(myList)</span></p>

<p>Other similar methods used in this experiment:
The mean method finds the mean of all row elements of a single column variable.
The sd method finds the standard deviation of all row elements of a single column variable.
The sum method finds the sum of all row elements of a single column variable</p>

<h3>Instructions helpful for Tasks 1-6</h3>
<p>Some simple task needed for this experiment are creating subtables and creating new column variables. To access the column variables of a table the symbol “$” is used. The example below references the column 'eyecolor' in the table 'males'.</p>

<p><span class='code'>males$eyecolor</span></p>

<p>Here is an example finds the minimum value from the column variable 'weight' in the table 'dogs'.</p>

<p><span class='code'>min(dogs$weight)</span></p>

<h3>Instructions helpful for Tasks 4-6</h3>
<p>If used, the word FUN is assigned a mathematical function such as mean, max, length, etc. Here is an example of the word FUN assigned the function 'length'</p>

<p><span class='code'>getMySize(myList, FUN=length)</span></p>

<h3>Instructions helpful for Tasks 7-8</h3>
<p>Here is an example that creates a subtable from the table dogs whose weight is greater than 10.</p>

<p><span class='code'>dogs[dogs$weight>10,]</span></p>

<p>Here is an example that creates a new column variable called 'size' in the table dogs where the value 'Big' is assigned if the column variable weight is greater than 50 and the value 'Small' is assigned if the column variable weight is less than or equal to 50.</p>

<p><span class='code'>dogs$size[dogs$weight>50]<-'Big'</span>
<span class='code'>dogs$size[dogs$weight<=50]<-'Small'</span></p>

<p>The aggregate() method performs a function on all the row elements of a dependent column variable of an independent variable from a table. Here is an example of the aggregate function.</p>

<p><span class='code'>mpgVariance=aggregate(x=list(mpg=mtcars$mpg), by=list(cyl=mtcars$cyl), FUN=var)</span></p>

<h3>Instructions helpful for Tasks 9-10</h3>
<p>The transform() method adds a new column to a table using the math formula given to it. Here is an example that multiplies each row value from the column variables 'length' and 'width' in the table 'rectangle' and puts the result in a column variable 'area'.</p>

<span class='code'>transform(rectangle, area = rectangle$length*rectangle$width)</span> 